<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Insert PlantType</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div style="width:100%" class="row">
          <div class="col-sm-6">
            <h2>Manage <b>PlantTypes</b></h2>
          </div>
          <div class="col-sm-6">
            <a th:href="@{/growmanager/v1/plants}" class="btn btn-success" ><i class="material-icons">&#xe314;</i> <span>Back to Plants</span></a>
          </div>
        </div>
      </div>
      <form th:action="@{/growmanager/v1/plants/insert}" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
          <!--<div class="form-text" th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></div>-->
        </div>
        <div class="mb-3">
          <label for="plantType" class="form-label">PlantType</label>
          <select name="plantType" id="plantType">
            <option th:each="plantType : ${plantTypes}" th:value="${plantType.getId()}" th:text="${plantType.name}"></option>
          </select>
          <!--<div class="form-text" th:if="${#fields.hasErrors('type')}" th:errorclass="error" th:errors="*{type}"></div>-->
        </div>
        <div class="mb-3">
          <label for="growthPeriod" class="form-label">Wachstumsdauer (in Tagen)</label>
          <input type="text" class="form-control" id="growthPeriod" name="growthPeriod">
          <!--<div class="form-text" th:if="${#fields.hasErrors('growthPeriod')}" th:errorclass="error" th:errors="*{growthPeriod}"></div>-->
        </div>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Speichern</button>
      </form>

      <!--<form th:object="${plant}" th:action="@{/growmanager/v1/plants/insert}" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
          <div class="form-text" th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
          <label for="plantType" class="form-label">PlantType</label>
          <select name="plantType" id="plantType" th:field="*{type}">
            <option th:each="plantType : ${plantTypes}" th:value="${plantType}" th:text="${plantType.name}"></option>
          </select>
          <div class="form-text" th:if="${#fields.hasErrors('type')}" th:errorclass="error" th:errors="*{type}"></div>
        </div>
        <div class="mb-3">
          <label for="growthPeriod" class="form-label">Wachstumsdauer (in Tagen)</label>
          <input type="text" class="form-control" id="growthPeriod" name="growthPeriod" th:field="*{growthPeriod}">
          <div class="form-text" th:if="${#fields.hasErrors('growthPeriod')}" th:errorclass="error" th:errors="*{growthPeriod}"></div>
        </div>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Speichern</button>
      </form>-->
    </div>
  </div>
</div>

<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="de">
<head>
    <meta charset="UTF-8">
    <title>PflanzenTypen einfügen</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <h1>Pflanzentypen:</h1>
    <hr class="border-2 border-top border-info">

    <a th:href="@{/growmanager/v1/plantTypes}" class="btn btn-info" role="button">Zurück</a>

    <hr class="border-2 border-top border-info">

    <form th:object="${plantType}" th:action="@{/growmanager/v1/plantTypes/insert}" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
            <div class="form-text" th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></div>
        </div>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Speichern</button>
    </form>

</div>-->

</body>
</html>