<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PlantTypes</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div style="width:100%" class="row">
          <div class="col-sm-6">
            <h2><b>GrowManager</b></h2>
          </div>
          <div class="col-sm-6">
            <a th:href="@{/growmanager}" class="btn btn-danger"><i class="material-icons">&#xe314;</i> <span>Logout</span></a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th style="width:100%">Welche Tabelle möchten Sie bearbeiten?</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width:100%">
            <a th:href="@{/growmanager/v1/plantTypes}" class="btn btn-outline-success btn-lg btn-block"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i><span>PlantType</span></a>
          </td>
        </tr>
        <tr>
          <td style="width:100%">
            <a th:href="@{/growmanager/v1/plants}" class="btn btn-outline-success btn-lg btn-block"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i><span>Plants</span></a>
          </td>
        </tr>
        <td style="width:100%">
          <a th:href="@{/growmanager/v1/fertilizerTypes}" class="btn btn-outline-success btn-lg btn-block"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i><span>FertilizerTypes</span></a>
        </td>
        </tr>
        <td style="width:100%">
          <a th:href="@{/growmanager/v1/fertilizers}" class="btn btn-outline-success btn-lg btn-block"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i><span>Fertilizer</span></a>
        </td>
        </tr>
        <tr>
          <td style="width:100%">
            <a th:href="@{/growmanager/v1/grows}" class="btn btn-outline-success btn-lg btn-block"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i><span>Grows</span></a>
          </td>
        </tr>
        <tr>
          <td style="width:100%">
            <a th:href="@{/growmanager/v1/repots}" class="btn btn-outline-success btn-lg btn-block"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i><span>Repots</span></a>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>


</body>
</html>